<main>
  <div class="container bg">

    <h1>Eat-Da-Burger!</h1>

    <div class="row">
      <div class="col">
        <ul>
          {{#each burgers}}
          {{#unless this.devoured}}
          <li>
            {{this.id}}
            {{this.burger_name}}

            <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
              <button type="submit" class='burgerAvailable'> Devour It!{{this.burger_name}}</button>
            </form>
          </li>
          {{/unless}}
          {{/each}}
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col">
        {{#each burgers}}
        {{#if this.devoured}}
        <div class='burgerEaten'>
          <li>
            {{this.id}}
            {{this.burger_name}}
        </div>
        </li>
        {{/if}}
        {{/each}}
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h2>Add A Burger!</h2>
        <form action="/burgers" method="POST">
          <input type="text" id="name" name="burger_name" placeholder="Pick A Name">
          <button type="submit" class="addBurgerButton">Add The Burger</button>
        </form>
      </div>
    </div>

</main>